body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    color: black;
    background-color: seashell;
    opacity: 0.9;
    text-align: center;
}

header {
    text-align: left;
    font-size: 3rem;
    padding: 2rem;
    background-color: #303030;
    color: white;
    position: fixed;
    width: 100%;
    opacity: 1;
    z-index: 3;
    height: 4rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #303030;
    position: fixed;
    top: 7rem;
    width: 100%;
    text-align: center;
      z-index: 2;
      border-bottom: 1px solid #36454f;
  }

  li {
   display: inline;
    
  }
  
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: darkgray;
    color: black;
  }


  /* about me section */
  .aboutme {
    grid-area: about;
    z-index: 1;
    top: 15rem;
  }

  .me {
    grid-area: me;
  }

  .about {
    background-color: seashell;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    grid-template-areas:
      "about me";
      text-align: center;
      height: 30rem;
  }
  
  .me img {
    width: 15rem;
    height: auto;
    padding: 40% 10%;
    border-radius: 50%;
  }

  .aboutme p {
    color: black;
    z-index: 1;
    align-self: center;
    justify-self: center;
    padding: 40% 10%;
    
    
  }
/* This is code for the images of websites I have made. */
#projects {
    width: 100%;
    margin: auto;
    position: relative;
    top: 20rem;
}

.screenshot {
  width: 300px;
  height: 200px;
  padding: 3rem;
 
}


.container {
  display: flex;
  justify-content: space-around;
  padding: 5rem;
  
  
}

/*Blog */

#blog h2 {
  text-align: center;
  text-decoration: underline;
  font-size: 23px;

}
#blog {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-size: 15px;
}

.blog {
  border: 1px dotted white;
  padding: 2rem;
  margin-top: 1rem;
}

/* contact from css */

input[type=text] , textarea {
  width: 100%; /* Full width */
 
}

input[type=submit] {
  background-color: #303030;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: black;
}

.contactContainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
  margin: auto;
}


/* button */

.button {
  display: flex;
  justify-content: center;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  line-height: 3;
}
/* Footer */

.footer {
  position: relative;
  font-size: 12px;
  background-color: #fffffa;
  color: black;
  width: 100%;
  margin: 0;
}
 
.name {
  margin-left: 3rem;
  padding-top: 2rem;
  padding-right: 20rem;
  display: inline-block;
}

.socials {
  display: inline-block;
  padding: 1rem;
}
.fa {
  
  padding: 20px;
  font-size: 30px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-linkedin {
  background: #007bb5;
  color: white;

}