body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

header {
    text-align: left;
    font-size: 3rem;
    padding: 1rem;
    background-color: #303030;
    color: white;
    position: fixed;
    width: 100%;
    opacity: 1;
    z-index: 2;
    padding: 2rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #303030;
    position: fixed;
    top: 5rem;
    width: 100%;
    text-align: center;
      z-index: 2;
      border-bottom: 1px solid #36454f;
  }

  li {
   display: inline;
    
  }
  
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: darkgray;
    color: black;
  }

  /* about me section */
  .aboutme {
    grid-area: about;
    z-index: 1;
    top: 15rem;
  }

  .me {
    grid-area: me;
  }

  .about {
    background-color: black;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    grid-template-areas:
      "about me";
      text-align: center;
      height: 30rem;
  }
  
  .me img {
    width: 15rem;
    height: auto;
    padding: 40% 10%;
  }

  .aboutme p {
    color: white;
    z-index: 1;
    align-self: center;
    justify-self: center;
    padding: 40% 10%;
    
    
  }
/* This is code for the images of websites I have made. */
#projects {
    width: 100%;
    margin: auto;
    position: relative;
    top: 20rem;
}

.screenshot {
  width: 300px;
  height: 200px;
  padding: 3rem;
}


.container {
  display: flex;
  justify-content: space-around;
  padding: 5rem;
  
  
}

/*Blog */

#blog h2 {
  text-align: center;
  text-decoration: underline;

}
#blog {
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
}

.blog {
  border: 1px dotted white;
  padding: 2rem;
  margin-top: 1rem;
}

/* Footer */

.footer {
  position: relative;
  float: left;
  font-size: 12px;
  background-color: #fffffa;
  color: black;
  width: 100%;
  margin: 0;
  text-align: left;
}
 
.footer p {
  margin-left: 3rem;
}

/* button */
.button {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

